@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans&display=swap');



/*----------Header-------*/
.container h1 {
    text-align: center;   
    font-family: "Caveat";
    margin-top: 20px;
    margin-bottom: 20px;
}
/*----------Navbar-------*/
nav {
    font-family: "Open Sans";
    margin-bottom: 20px;
    border: 1px solid #5cb85c;
}
/*----------Page headings-------*/
h2 {
    font-family: "Caveat";
}

/*-------Ingredients and Preparations text areas---*/
.form-control {
    border: 1px solid #5cb85c;
}

/*-Image of a Thermomix kitchen appliance--*/
#thermo {
    margin: none;
}

/*----------Footer-------*/
.card-footer {
    text-align: center;
    font-family: "Caveat";
}