<!--Child html in this file incorporated in parent html file base.html -->
{% extends 'base.html'%}
{% block content %}

<div class="row">
    <div class="container text-center"><h2>Add Recipe</h2></div>    
</div>

<!--Form directs to new_recipe function in app.py to add new recipes to database-->
<!--Jinja calls new_recipe function from file app.py-->
<form action="{{ url_for('new_recipe') }}", method="POST">
    <div class="form-group col-md-12">
        <input name="category_name" type="text" class="form-control" id="category_name" placeholder="Add Category Name">
    </div>
    
    <div class="form-group col-md-12">
        <input name="title" type="text" class="form-control" id="title" placeholder="Add Recipe Title">
    </div>  

    <div class="form-group col-md-12">
        <textarea type="text" class="form-control" name="ingredients" id="ingredients" placeholder="Insert Ingredients here" rows="20"></textarea>
    </div>

    <div class="form-group col-md-12">
        <textarea type="text" class="form-control" name="preparation" id="preparation" placeholder="Preparation" rows="20"></textarea>
    </div>

    <div class="form-group col-md-6">   
        <input name="servings" type="text" class="form-control" id="servings" placeholder="Servings">
    </div>

    <div class="form-group col-md-6">
        <input name="prep_time" type="text" class="form-control" id="prep_time" placeholder="Prep Time">
    </div>

    <div class="form-group col-md-6">
        <input name="total_cooking_time" type="text" class="form-control" id="total_cooking_time" placeholder="Total Cooking Time">
    </div>  

<!--Form posts new recipe to backend database on clicking save button below -->
    <div class="form-group col-md-12">
        <button id="save_changes" type="submit" class="btn btn-success">Save</button>
    </div>
</form>

{% endblock %}