<!--Child html in this file incorporated in parent html file base.html -->
{% extends 'base.html'%}
{% block content %}

       
<div class="card text-center">  
    <h1 class="pt-4">All Recipes</h1>

    {% for recipe in recipes %}     
  <div class="card-body">
    <h2 class="card-title">{{recipe.title}}</h2>
    <h5 class="servings">Portions: {{recipe.servings}}</h5>
    <h5 class="servings">Prep: {{recipe.prep_time}}</h5>
    <h5 class="servings">Total Cooking Time: {{recipe.total_cooking_time}}</h5>
    <p>
        <button class="btn btn-success" type="button" data-toggle="collapse" data-target=".multi-collapse"  aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Ingred & Prep</button>
        <a class="btn btn-primary" href="{{ url_for ('edit_recipe', recipe_id=recipe._id) }}" target="_blank" role="button"><i class="fa fa-edit"></i> Edit</a>
        <a class="btn btn-danger ml-2" href="{{ url_for ('delete_recipe', recipe_id=recipe._id) }}" role="button"><i class="fa fa-trash"></i> Delete</a>
    </p>

<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        {{recipe.ingredients}}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        {{recipe.preparation}}
      </div> 
    </div>
  </div>
</div>
</div>
{% endfor %}
</div>


{% endblock %}

 

