<!--Child html in this file incorporated in parent html file base.html -->
{% extends 'base.html'%}
{% block content %}

        {% for recipe in recipes %}
            {{recipe.title}}
            {{recipe.category_name}}
            {{recipe.prep_time}}
            {{recipe.cook_time}}
            {{recipe.servings}}
        {% endfor %}

<!--Collapsible cards showing Ingredients and Preparation steps -->
<p>
  <button class="btn btn-success" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Ingredients & Preparation</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
</div>
{% endblock %}